@import url('https://fonts.googleapis.com/css?family=Kreon|Open+Sans');

:root {
  --primary-colour: hsl(283, 30%, 30%);
  --primary-colour-shade-light: hsl(283, 17%, 37%);
  --primary-colour-shade-dark: hsl(283, 17%, 28%);
  --secondary-colour: hsl(60, 3%, 94%);
}

body {
  background: var(--primary-colour);
  color: var(--secondary-colour);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--secondary-colour);
}

.attribution {
  font-size: 0.8rem;
  margin: 0 auto;
}

.search {
  background: var(--primary-colour-shade-light);
  border: 3px solid var(--secondary-colour);
  border-radius: 5px;
  color: var(--secondary-colour);
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 auto;
  outline: none;
  transition: background-color 0.3s ease;
}

.search:focus {
  background: var(--primary-colour-shade-dark);
}

.title {
  font-family: "Kreon", serif;
  font-size: 3rem;
  text-align: center;
}

.result {
  align-items: center;
  border: 1px solid var(--secondary-colour);
  display: flex;
  justify-content: space-around;
  margin: 0.25rem;
  padding: 0.5rem 0;
  text-align: left;
}

.results {
  margin: 0 auto;
}

.highlighted {
  background: var(--secondary-colour);
  color: var(--primary-colour);
}

footer {
  text-align: center;
}